- var api = data

.form-wrapper
  .form-inner-wrapper
    #cryptosubmit
      .row.sqs-row
        form(id=api.formUUID name='customer', autocomplete='off', method='POST', action='http://localhost:1337/')
          .field-list.clear
            h2.fs-title
              = api.title
            
            //include tabs
            include form
            //include miniform

            .field
              .control
                input.button.is-primary(type='submit', value='Submit')
            