.form-wrapper
  .form-inner-wrapper
    #cryptosubmit
      .row.sqs-row
        form#customer(name='customer', action='javascript:void(0)', autocomplete='off')
          .field-list.clear
            h2.fs-title Secure Enrollment for NEXT's Mail-based Supply Distribution
            
            extend form
            