// One "tab" for each step in the form (main form tab):
.tab
  input(type="hidden", name="formUUID", value=api.formUUID)
  each field in api.questions
    - var required = (field.required === true) ? "required" : ""
    if field.questionType === "input"
      include partials/_input
    if field.questionType === "number"
      include partials/_number
    if field.questionType === "date"
      include partials/_date
    if field.questionType === "checkbox"
      include partials/_checkbox
    if field.questionType === "dropdown" || field.questionType === "multiplechoice"
      include partials/_select
    if field.questionType === "radio"
      include partials/_radio
    if field.questionType === "heading"
      include partials/_heading
    if field.questionType === "paragraph"
      include partials/_paragraph
  .field
    .control
      input.button.is-primary(type='submit', value='Submit')