// One "tab" for each step in the form (main form tab):
- var api = data
.tab
  each field in api
    if field.questionType === "input"
      include partials/_input
    if field.questionType === "checkbox"
      include partials/_checkbox
    if field.questionType === "dropdown" || field.questionType === "multiplechoice"
      include partials/_select
    if field.questionType === "radio"
      include partials/_radio