body {
    font-family: "Adobe Garamond Pro", serif;
    font-size: 16px;
    line-height: 1.6em;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2em;
    text-transform: none;
    color: #000;
}

a {
    color: #52c2c8;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(82,194,200,.3);
    text-decoration: none;
}

a:hover {
    color: rgba(82,194,200,.6);
    border-color: rgba(82,194,200,.15);
}

a:active, a:focus {
    outline: 0;
}

u {
    text-decoration: none;
}

p:first-child {
    margin-top: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p, h1, h2, h3 {
    -webkit-hyphens: manual !important;
    -moz-hyphens: manual !important;
    -ms-hyphens: manual !important;
    hyphens: manual !important;
}

h1, h2, h3 {
    text-rendering: optimizeLegibility;
}

h1:first-child, h2:first-child, h3:first-child {
    margin-top: 0;
}

h2 {
    color: #000;
}

h2 {
    font-family: "Montserrat", Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    line-height: 1.3em;
    text-transform: none;
}

h3 {
    font-family: "Montserrat", Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .06em;
    line-height: 1.4em;
    text-transform: uppercase;
}

ul, ol, li {
    padding: revert;
    margin: revert;
}

.fs-title {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

input[type=submit] {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    color: #fff;
    border-width: 0;
    font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: #fafafa;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 6px 3px 4px;
    padding: initial;
    border: initial;
}

.button.is-primary {
    background-color: #51c2c8;
    border-color: transparent;
    color: #fff;
}

.button {
    padding: 1em 2.5em;
    font-size: 12px;
    font-family: proxima-nova;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    background-color: #51c2c8;
    border-color: #51c2c8;
}

.button.is-primary.is-hovered, .button.is-primary:hover, .button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: rgba(82,194,200,.6);
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, input, select, textarea, .button {
    font-family: "Montserrat",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

button, input, select, textarea {
    margin: 0;
}

input, select, textarea, .input, .select, .textarea, .input input, .select select, .textarea textarea, fieldset, .field fieldset {
    border: 1px solid #dbdbdb;
}

.button {
    border-radius: 300px;
}

.button + .button {
    margin-left: 12px;
}

.form-wrapper {
    margin-top: 33px;
    max-width: 1590px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 38px 20px;
}

.form-inner-wrapper {
    max-width: 1000px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.field {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}