// One "tab" for each step in the form (main form tab):
.tab
  each field in data
    .form-item.field.text
      label.title.required= field.questionPrompt
      input.field-element.text(type= field.questionType name= field.questionPrompt, placeholder='Your answer', required='')
