doctype html
html(lang='en')
  head
    title Form
    link(rel='stylesheet', href='/static/css/build.min.css', type='text/css' )
    style(type="text/css").
      
      /*basic form styles*/
      #customer {
      max-width: 1000px;
      }
      /*Mark input boxes that gets an error on validation: */
      #terms.invalid {
      background-color: #ffdddd;
      }
      .required:after { content:" *"; color: #d93025;}
      /* Hide all steps by default: */
      .tab {
      display: none;
      }
      /* Make circles that indicate the steps of the form: */
      .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
      }
      /* Mark the active step: */
      .step.active {
      opacity: 1;
      }
      /* Mark the steps that are finished and valid: */
      .step.finish {
      background-color: #4CAF50;
      }
      .custom-button-pad {
      margin: 0.2em;
      }
      .custom-button-row {
      width: 80%;
      }