// Checkbox Options
.field
  label.label My ethnicity could be described as:
  fieldset#Ethnicity(name='My ethnicity could be described as')
    .control
      label
        input(type='checkbox', name='Ethnicity - Asian', value='Asian')
        |  Asian
    .control
      label
        input(type='checkbox', name='Ethnicity - Black/African American', value='Black/African American')
        |  Black/African American
    .control
      label
        input(type='checkbox', name='Ethnicity - Hispanic/Latinx', value='Hispanic/Latinx')
        |  Hispanic/Latinx
    .control
      label
        input(type='checkbox', name='Ethnicity - Black/African American', value='Black/African American')
        |  Black/African American
    .control
      label
        input(type='checkbox', name='Native American or Alaskan Native', value='Ethnicity - Native American or Alaskan Native')
        |  Native American or Alaskan Native
    .control
      label
        input(type='checkbox', name='Native Hawaiian or Pacific Islander', value='Ethnicity - Native Hawaiian or Pacific Islander')
        |  Native Hawaiian or Pacific Islander
    .control
      label
        input(type='checkbox', name='Ethnicity - White/Caucasian', value='White/Caucasian')
        |  White/Caucasian
    .control
      label
        input(type='checkbox', name='Ethnicity - Other', value='Other')
        |  Other
    .control
      label
        input(type='checkbox', name='Prefer not to answer', value='Prefer not to answer')
        |  Prefer not to answer