// Radio Button Options
.field
  label.label Do you inject pills?
  .control
    label.radio
      input(type='radio', name='Do you inject pills?', value='no', required='')
      |  No
  .control
    label.radio
        input(type='radio', name='Do you inject pills?', value='yes often')
        |  Yes, often
  .control
    label.radio
      input(type='radio', name='Do you inject pills?', value='yes rarely')
      |  Yes, rarely