// Checkbox Options
.field
  label.label= field.questionPrompt
  fieldset(name=field.questionUUID)
    each choice in field.possibleAnswers
      .control
        label
          input(type=field.questionType, value=choice[0])
          = choice[1]