// Date field
.field
  label.label(class=required)= field.questionPrompt
  .control
    if required === "required"
      input.input(type= field.questionType name= field.questionUUID, required)
    else
      input.input(type= field.questionType name= field.questionUUID)