// Radio Button Options
.field
  label.label=field.questionPrompt
  each choice in field.possibleAnswers
    .control
      label.radio
        input(type=field.questionType, name=field.questionUUID, value=choice[0], required='')
        = choice[1]