// Select Dropdown
.field
  label.label.required= field.questionPrompt
  .control
    .select
      select(name= field.questionUUID, required='')
        option(value='') --Select--
        each choice in field.possibleAnswers
          option(value=choice[0])= choice[1]